@model List<WebSurvey.Models.TravelStat>
@using WebSurvey.Lib;

@{
    ViewBag.Title = "Stats";
}

<h2>Piores Destinos</h2>

@foreach (var item in Model)
{
    
    <h3>@LocationTable.ReturnName(item.IdLocation) </h3>
   
    <p><span>Informação: </span><b>@item.Votes</b> pontos em <b>@item.Incidences</b> registros conseguindo uma média de <b> @String.Format("{0:0.00}", item.Medium) </b> na preferência dos clientes </p>
    <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @item.Votes%;">
            <span class="sr-only">@item.Votes Pontos</span>
        </div>
    </div>
    
}
